.allContacts,
.phonebookTitle,
.contactsTitle {
  margin-left: 20px;
}

.allContacts {
  margin-bottom: 10px;
}

.contactsTitle {
  margin-top: 70px;
}

.contactsLabel {
  margin: 0 0 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: #2a3f2b;
}
